html body{
    background-color: rgb(224, 224, 224);
    height: fit-content;
}



.page-content {

    h2 {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
        font-size: 27px;
    }
    
    h3 {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: fit-content;

        img {
            width: 40%;
            height: 400px;
        }
    }

    .text {
        display: flex;
        justify-content: space-around;
    }

    .rows {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: fit-content;

        .pic-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 97%;
                height: auto;
            }

            h3 {
                margin-top: 0px;
                text-align: center;
                font-family: Gotham, "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;;
            }
        }
    }



    .see-all {

        width: 50%;
        height: 50px;
        margin-top: 55px;
        margin-left: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
        border-radius: 18px;
        text-decoration: underline;
    }

    .white-space {
        height: 50px;
    }


}