html body {
    background-color: whitesmoke;
}

.nav-container {
    border: 5px solid blue;
}

.page-content {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shop {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: fit-content;

        img {
            width: 40%;
            height: 400px;
        }
    }

    .text {
        display: flex;
        justify-content: space-around;
    }

    .rows {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 5px solid darkblue;
        width: 100%;
        height: fit-content;

        .pic-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 60%;
                height: auto;
                border: red solid 3px;
            }

            h3 {
                margin-top: 0px;
                text-align: center;
            }
        }
    }



    .see-all {
        border: 3px solid red;
        width: 50%;
        height: 50px;
        margin-left: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
    }
}