
.nav-container{
    border: 5px solid blue;
}

.page-content{
    border: 5px solid red;
    .shop {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 600px;
        border: 5px solid violet;
        img {
            width: 40%;
            height: auto;
            border: 6px solid purple;

        }
    }  

    .rows {
        border: 3px solid blue;
    }

    .see-all {
        border: 3px solid red;
        width: 50%;
        height: 50px;
        margin-left: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: black;
    }
}
